
#footer-sec{
    margin-top: 5%;
    border-radius: 100% 0% 100% 0% / 14% 100% 0% 86%;
    background: #e1b565;
    padding: 5% 0;
}

a.bottom-brand{
    font-size: 45px;
    font-family: 'Rubik Wet Paint', cursive;
    color: black;
    transition: all 0.7s;
}