
#contact-sec{
    text-align: center;
    padding: 7%;
    background: #fff4e0;
    height: 100%;
}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 20px; 
    width: 100%;
    left: 0;
}  